body {
    background-color: antiquewhite;
    margin: 100px 0 0 0;
    font-family: "garamond", serif 
}

img {
    max-width: 100%;
}

/*Header*/

.logo {
    width: 100%;
    height: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #8b4c4c;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav {
    padding-right: 20px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #dfadad;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/*Main*/

h1 {
    color: #8b4c4c ; 
    background-color: #dfadad;
    font-size: 40px;
    text-align: center;
}

#tiposdemakeups h2 {
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
    color:#8b4c4c;
}

#tiposdemakeups img {
    width: 200px;
}

#tiposdemakeups .contenedor-iconos {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.contenedor-iconos p {
    color: #8b4c4c;
    font-size: 15px;
}

#clientas {
    background-color: #8b4c4c;
}

#clientas h2 {
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
    color:#dfadad;
    padding-top: 20px;
}

#clientas .contenedor-programa {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    max-width: 800px;
    margin: auto;
} 

#clientas .contenedor-programa div {
    width: 45%;
    padding: 0 20px;
    color: #dfadad;
}

#clientas .contenedor-programa div,
#clientas .contenedor-programa div p {
    text-align: center;
    color: #dfadad;
    padding-bottom: 20px;
}

/*Footer*/

Footer {
    padding: 30px 50px;
    background-color: #dfadad;

    & #redsocial ul {
        display: flex;
        gap: 1rem;
        padding: 0;
        list-style: none;
        justify-content: center;
    }

    & img {
        width: 50px;
        height: 100%;
        border-radius: 5px;
    }

    & h4 {
        color: #8b4c4c;
        text-align: center;
        font-size: 20px;
    }
}
